
.tv-card {
    width: 300px;
    padding: 15px;
    text-align: center;
    background-color: antiquewhite;
}

.tv-image {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
}

.tv-brand {
    margin: 20px;
    color: chocolate;
}

.tv-size {
    font-size: 20px;
    color: brown;
    font-weight: bolder;
}