.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  color: whitesmoke;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 90px
}

.card img {
  height: 150px;
  object-fit:cover
}

.card {
  padding: 30px;
  border: 4px solid rgb(18, 1, 17);
  text-align: center;
}

.card button {
  background-color: black;
  color: white;
  padding: 10px;
}


.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.modal {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 500px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px
}


.cart-item img {
  height: 50px;
}

.close-btn {
  background-color: red;
  padding: 15px;
  color: white;
  font-size: 20px;
}

.btn-remove-cart-item {
  background-color: grey;
  padding: 20px;
}